body {
    margin: 0;
    padding: 0;
    background: #9b2a2a;
    background: linear-gradient(90deg, rgba(155, 42, 42, 1) 0%, rgba(24, 28, 26, 1) 97%);
    color: white;
}


.main-section {
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically */
    height: 100vh;            /* makes sure it takes full viewport height */
}

.hidden {
    display: none;
}

#sign-up-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 310px;          /* box width */
    padding: 2rem;         /* inner spacing */
    border-radius: 10px;   
    margin-bottom: 10%;
    
}

.title-sign-up {
    margin-left: px;
}

.sign-up-fields {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.sign-up-fields input {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
}

.sign-up-buttons {
    color: white;
    padding: 10px;
    width: 106%;
    border: none;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    background-color: rgba(68, 67, 67, 0.438);    
}



.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.akatsuki-logo {
    margin-left: 2%;
}

#sign-up-menu-button {
    text-decoration: none;
    margin-top: 1.5%;
    margin-right: 1%;
    border: none;
    height: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(68, 67, 67, 0.438);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0px 6px;
    display: none;
}

#login-menu-button {
    text-decoration: none;
    margin-top: 1.5%;
    margin-right: 1%;
    border: none;
    height: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(68, 67, 67, 0.438);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0px 6px;
}


#Login-box {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 310px;          /* box width */
    padding: 2rem;         /* inner spacing */
    border-radius: 10px;   
    margin-bottom: 10%;
    
}

.login-fields {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.login-fields input {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;   
}


