@import "tailwindcss";

.color {
    color:#0da6f2
}

.logo {
    font-size: 1.5rem;
}


.height100vh {
    height: 100vh;
}


.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}