body {
    padding: 0;
    margin: 0;
}


#navbar {
    width: stretch;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.8%;
    padding-right: 1.8%;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-bar-links {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}


.logo {
    width: auto;
    height: 110px;
}